body {
  background-color: #191919;
}

canvas {
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
}

span {
  position: relative;
  z-index: 1;
}

p{
  font-family: 'Open Sans', sans-serif;
  margin-left: 5rem;

  color: white;
  letter-spacing: 1px;
}

/***********icons***********/
.container {
  box-sizing: border-box;
  display: flex;
  margin-left: 70%;
}

.icon {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  color: rgb(207, 207, 207);
  font-size: 2.5rem;
  margin: 1rem;
  padding: 0 15px;
  border-radius: 20px;
  background: #191918;
  text-decoration: none;
  z-index: 0;
}

.insta:hover {
  color: rgb(241, 98, 170);
  cursor: pointer;
}

.tweet:hover {
  color: #646FD4;
  cursor: pointer;
}

.linkdin:hover {
  color: cyan;
  cursor: pointer;
}

.fb:hover {
  color: #4267B2;
  cursor: pointer;
}

.insta:active,
.tweet:active,
.linkdin:active,
.fb:active {
  transform: scale(1.6);
  transition: box-shadow .3s, transform 6s cubic-bezier(.5, 4, 1, 2);
}

/*************style tags***********/

.tag{

}
.h1tag::before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-top: 5rem;
  padding-left: 3rem;
}

.h1closetag::after {
  content: '</h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 40rem;
  margin-top: -4rem;
}

.bodytag::before {
  content: '<body>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: 1rem
}

.htmltag::before {
  content: '<html>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;

  padding-left: 3rem;
}

.ptag::before {
  content: '<p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: -3rem;
}

.ptag::after {
  content: '</p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
}

.h2tag::before{
  content: '<h2>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: 11rem;
}

.h2Closetag::after{
  content: '</h2>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 25rem;
  margin-top: -3rem;
}

.ptag2::before {
  content: '<p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
}

.ptag2close::after {
  content: '</p>';
  font-family: 'La Belle Aurore', cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: -3rem;
}

/************Intro***********/
.intro {
  font-family: 'Alfa Slab One', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1;
  padding-left: 4rem;
  font-weight: 400;
}

.blast {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  transition: color 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.blast:hover {
  animation-name: rubberBand;
  color: cyan;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

/************frontendline*********/
.front {
  font-family: 'Open Sans', sans-serif;
  margin-left: 5rem;
  margin-top: -1.5rem;
  color: #8d8d8d;
  letter-spacing: 5px;
}

/***********waves*********/
.center {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191919;

}

.wave {
  width: 5px;
  height: 50px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 200px 10px 0 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}

.wave:nth-child(2) {
  animation-delay: 0.1s;
}

.wave:nth-child(3) {
  animation-delay: 0.2s;
}

.wave:nth-child(4) {
  animation-delay: 0.3s;
}

.wave:nth-child(5) {
  animation-delay: 0.4s;
}

.wave:nth-child(6) {
  animation-delay: 0.5s;
}

.wave:nth-child(7) {
  animation-delay: 0.6s;
}

.wave:nth-child(8) {
  animation-delay: 0.7s;
}

.wave:nth-child(9) {
  animation-delay: 0.8s;
}

.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/*****cv download button****/


.cv {
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 3%;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 4px;
}

.download{
  margin-left: 15rem;
}
.contactbtn{
  margin-top: 22px;
  }
/*******portfolio********/
.portfolio{
font-family: 'Alfa Slab One', sans-serif;
color: cyan;
font-size: 35px;
line-height: 1;
padding-left: 4rem;
font-weight: 400;
margin-top: 200px;
}

.blast2 {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  transition: color 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.blast2:hover {
  animation-name: rubberBand;
}

/*****sphere******/

.tagcloud {
 display: inline-block;
 top: 100px;
 left: 32%;
 letter-spacing: 1px;
 font-family: 'Alfa Slab One', sans-serif;
 font-size: 15px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
 color: #FFF323 ;
}

/**********contactMe*******/

.location{
  float: right;
}
form{
  display: flex;
  flex-direction: column;
  width: 35%;
}

form input, form textarea{
  padding: 20px;
}
