:root {
  --size-default: 18px;
  --size-sm: 16px;
  --color-green: cyan;
  --color-black: #000;
}

body {
  background-color: #191919;
}

canvas {
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -1;
}

span {
  position: relative;
  z-index: 1;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-left: 5rem;

  color: white;
  letter-spacing: 1px;
}

/***********icons***********/
.container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons-container {
  display: flex;
  align-items: center;
}
.icon {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  color: rgb(207, 207, 207);
  font-size: 2.5rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0 15px;
  border-radius: 20px;
  background: #191918;
  text-decoration: none;
  z-index: 0;
}

.insta:hover {
  color: rgb(241, 98, 170);
  cursor: pointer;
}

.tweet:hover {
  color: #646fd4;
  cursor: pointer;
}

.linkdin:hover {
  color: cyan;
  cursor: pointer;
}

.git:hover {
  color: #a760ff;
  cursor: pointer;
}

.insta:active,
.tweet:active,
.linkdin:active,
.git:active {
  transform: scale(1.6);
  transition: box-shadow 0.3s, transform 6s cubic-bezier(0.5, 4, 1, 2);
}

/*************style tags***********/

.h1tag::before {
  content: "<h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-top: 3.5rem;
  padding-left: 3rem;
}

.h1closetag::after {
  content: "</h1>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 40rem;
  margin-top: -4rem;
}

.bodytag::before {
  content: "<body>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: 1rem;
}

.htmltag::before {
  content: "<html>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;

  padding-left: 3rem;
}

.ptag::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: -3rem;
}

.ptag::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
}

.h2tag::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: 11rem;
}

.h2Closetag::after {
  content: "</h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: -3rem;
}

.h2tag2::before {
  content: "<h2>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
}

.ptag2::before {
  content: "<p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
}

.ptag2close::after {
  content: "</p>";
  font-family: "La Belle Aurore", cursive;
  color: #515152;
  font-size: 1.8rem;
  position: absolute;
  padding-left: 3rem;
  margin-top: -3rem;
}

/************Intro***********/
.intro {
  font-family: "Alfa Slab One", sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 1;
  padding-left: 4rem;
  font-weight: 400;
}

.blast {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  transition: color 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.blast:hover {
  animation-name: rubberBand;
  color: cyan;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

/************frontendline*********/
.front {
  font-family: "Open Sans", sans-serif;
  margin-left: 5rem;
  margin-top: -1.5rem;
  color: #8d8d8d;
  letter-spacing: 5px;
}

/*****cv download button****/

.cv {
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
  margin-top: 5rem;
  z-index: 2;
  position: absolute;
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: 3px 4px;
  margin-left: 10rem;
}

.contactbtn {
  margin-top: 22px;
}
/********portflio*******/
.portfolio {
  font-family: "Alfa Slab One", sans-serif;
  color: cyan;
  font-size: 35px;
  line-height: 1;
  padding-left: 4rem;
  font-weight: 400;
  margin-top: 200px;
}

.blast2 {
  display: inline-block;
  border-radius: 10px;
  text-decoration: none;
  transition: color 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

.blast2:hover {
  animation-name: rubberBand;
}

.skills {
  font-family: "Alfa Slab One", sans-serif;
  color: cyan;
  font-size: 35px;
  line-height: 1;
  padding-left: 4rem;
  font-weight: 400;
}

.skills-2 {
  font-family: "Alfa Slab One", sans-serif;
  color: cyan;
  font-size: 30px;
  line-height: 1;

  font-weight: 400;
}
/*********sphere*********/
.Sphere {
  display: flex;
  justify-content: center;
}

/*****footer******/

.footer-basic {
  position: relative;
  padding: 40px 0;
  color: #8d8d8d;
  text-align: center;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 15px;
  font-size: 13px;
  color: white;
  margin-bottom: 0;
  margin-right: 80px;
}
.getInTouch {
  display: flex;
  justify-content: start;
}
@media (max-width: 1000px) {
  .container {
    margin-left: 60%;
  }
  .container-2 {
    flex-direction: column !important;
  }
  .map-container {
    height: 50vh;
  }
  .contact-form-container {
    height: 30vh !important;
  }
  .icon {
    font-size: 3.5rem;
  }

  .front {
    margin-left: 0;
    letter-spacing: 3px;
    text-align: center;
    margin-top: -3rem;
  }

  .cv {
    font-size: 30px;
  }

  .portfolio {
    font-weight: 100;
    font-size: 45px;
  }

  .skills {
    font-weight: 100;
    font-size: 45px;
  }
}
.container-2 {
  display: flex;
  height: 70vh;
  flex-direction: row;
  padding: 3rem;
}
.map-container,
.contact-form-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid cyan;
}
.map-container {
  background-color: transparent;
}
.contact-form-container {
  background-color: #515152;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button {
  padding: 10px;
  background-color: cyan;
  border: none;
  color: #515152;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #00d1d1;
}

.whatsapp.icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 30px;
  color: #25d366;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp.icon:hover {
  color: #128c7e;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@property --glowColor {
  syntax: "<color>";
  initial-value: #58dd93;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
    --glowColor: var(--color-green);
  }

  100% {
    --angle: 360deg;
    --glowColor: var(--color-green);
  }
}

.container-cv {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  background: none;
  position: relative;
  padding: 1px;
  text-decoration: none;
  transition: all 0.18s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.btn:after,
.btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: calc(100px + 1.5px);
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(
    from var(--angle) at 50% 50%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 33%,
    var(--glowColor) 50%,
    rgba(0, 0, 0, 0) 66%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 2s infinite linear;
}

.btn:before {
  animation: rotate 2s infinite linear;
  filter: blur(20px);
}

.btn .btnInner {
  position: relative;
  display: flex;
  width: 100%;
  padding: var(--size-sm) var(--size-default);
  border-radius: 100px;
  color: var(--color-green);
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
  transition: all 0.18s ease;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
  backface-visibility: hidden;
}

.btn:hover .btnInner {
  background: rgba(88, 221, 147, 0.1);
  color: #adeeca;
}

.btn:active {
  transform: scale(0.95);
}
.eye {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 10px;
}
.pupil {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  transition: all 0.05s linear;
}
.container-eye {
  display: flex;
  justify-content: center;
}
